*{
    padding: 0;
    margin: 0;
}
.modulo{
    width: 80%;
    height:  80%;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.205);
    margin: 20px auto ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
}
.modulo>*{
    flex-grow: 1;
    flex-shrink: 1;
}
.caja{
     width: 100%;
     display: flex;
     justify-content: space-between;

}
.popup{
    display: none;
}